

// VARS
$stat: rgb(42,86,142)
$statText: rgb(202,114,32)
$derived: rgb(145,36,36)
$heading: rgb(65,60,66)
$body: rgb(255,250,244)
$font: rgb(110,105,101)
$link: rgb(68,103,127)
$tabBgColour: rgb(179,176,172)
$menuBg: rgb(100,97,94)
$menuBgHover: rgba(255,255,255,0.5)
$fadeInput: rgb(245,245,245)
$btnColour: rgb(42,79,127)

$borderRadius: 0.2em

// 242 154 52

// DICE COLOURS
$dice: (ability: #4EAB53, proficiency: #FFF03D, boost: #75CCDA, challenge: #74181A, difficulty: #512A7C, setback: #413C42)


// TAB COLOURS
$tabs: ("blue": #0074D9, "green": #2ECC40, "yellow": #FFDC00, "orange": #FF851B, "red": #FF4136, "purple": #B10DC9, "gray": #aaa, "black": #111)


// DICE SHAPES
$ffi-d6: "\e900"
$ffi-d6-outline: "\e901"
$ffi-d8: "\e902"
$ffi-d8-outline: "\e903"
$ffi-d12: "\e904"
$ffi-d12-outline: "\e905"


// DICE SYMBOLS
$ffi-swrpg-advantage: "\e906";
$ffi-swrpg-despair: "\e907";
$ffi-swrpg-failure: "\e908";
$ffi-swrpg-force: "\e93e";
$ffi-swrpg-force-outline: "\e93f";
$ffi-swrpg-force-split: "\e940";
$ffi-swrpg-success: "\e909";
$ffi-swrpg-threat: "\e90a";
$ffi-swrpg-triumph: "\e90b";

